.FormContainer {
    display: flex;
    flex-direction: column;
}

.FormGroupContainer {
    align-self: flex-start;
    padding-left: 1rem;
}

.ButtonSpacing {
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    margin-right: 1rem;
}