.Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw
}

.Toolbar {
    display: flex;
    position: relative;
    margin: 0.25rem;
    height: fit-content;
}

.Layout {
    display: flex;
    margin-top: auto;
    position: relative;
    height: 100vh;
}