.Container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.Toolbar {
    position: relative;
    margin: 0.125rem;
    height: fit-content;
}

.Layout {
    margin-top: auto;
    position: relative;
    height: 100vh;
}